.player {
    margin: 0 auto 1em;
    padding: 2em;
    max-height: 100%;
    max-width: 500px;
    position: relative;
    background-color: rgba(212, 61, 40, 0.1);
    border-radius: inherit;
}

.player_title {
    padding: 1em 0;
}

.player_buttons {
    font-size: 2em;
    height: 2em;
    user-select: none;
    text-align: center;
    color: gray;
}

.prev_song,
.next_song {
    padding: 0.5em;
}

.prev_song:hover,
.next_song:hover {
    cursor: pointer;
    color: black;
    background-color: lightgray;
}

.song_number {
    width: 2em;
    float: left;
}

.song_title {
    text-align: center;
}

.song_length {
    width: 3em;
    float: right;
}

.song_list {
    padding: 1em;
}

.odd {
    background-color: rgba(255, 255, 255, 0.1);
}

.even {
    background-color: rgba(22, 22, 22, 0.1);
}